.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0.65;
  height: 100%;
}

.left_control {
  display: flex;
  align-items: center;
}

.main__controlbar {
  background-color: #e2e631;
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__chatMessagesList {
  height: 80vh;
  overflow: hidden;
}

.main__chatMessages {
  height: 100%;
  overflow: auto;
}
