.sidebar__chatListItem {
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  
}

.chat_description {
  display: flex;
  flex: 1em;
  justify-content: space-between;
  margin-left: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
}
