.sidebar {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__controlbar {
  background-color: #c7c968;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__searchbar {
  padding: 5px 10px;
  background-color: #e2e470;
}

.sidebar__searchbar input {
  max-width: 100%;
  width: 98%;
  height: 40px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding-left: 10px;
}

.sidebar__chatList {
  height: 83vh;
  overflow-y: scroll;
}
